  /* Обозначения:
    [bc] — background-color
    [bi] — background-image
    [br] — background-repeat
    [bp] — background-position
    [ba] — background-attachment
  */
  .page-banner {
    height: 655px;
    background: url("../../img/banner/m-helimain.jpg") no-repeat;
    background-size: cover;
  }

  .page-banner__inner {
    padding: 142px 15px 0 15px;

    .page-banner__slogan {
      display: inline-block;
      margin-bottom: 36px;
      font-size: 32px;
      font-weight: 700;
      color: #ffffff;
      line-height: 39px;

      &_accent {
        color: #FC9B09;

      }
    }

    .cost-title {
      position: relative;
      display: flex;
      align-items: center;
      width: 200px;
      margin-bottom: 23px;
      padding: 11px 15px 11px 18px;
      color: #FFFFFF;
      font-size: 18px;
      //   line-height: 27.21px;
      // padding: 16px 29px 17px 23px;
      background-color: #FC9B09;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

      &::after {
        content: '';
        position: absolute;
        right: 68px;
        bottom: -6px;
        width: 16px;
        height: 16px;
        background-color: #FC9B09;
        border-radius: 5px;
        transform: rotate(45deg);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
      }

      span {
        display: inline-block;
      }

      &__price {
        margin-top: 5px;
        font-size: 30px;
        font-weight: 800;
        line-height: 30px;
      }

      &__percent {
        padding: 0 10px;
        font-size: 30px;
        font-weight: 800;
        line-height: 45px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        filter: drop-shadow(0px 4px 15px rgba(255, 255, 255, 0.25)), drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
      }
    }

    .banner__button {
      padding: 20px 37px;
      background-color: none;
      font-size: 16px;
      color: #ffffff;
      font-weight: 900;

      border: 3px solid #FFFFFF;
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)), drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
      border-radius: 7px;
    }
  }
