footer.page-footer
  .page-footer__inner
    .page-header__top
      a.page-footer__logo.logo(href="#")
        img(alt="Helifly-logo" src="../../img/icons/logo.svg")
      ul.page-footer__social-list.social-list
      button.page-footer__language-toggle.language-toggle
    .page-header__bottom
      ul.page-footer__payment-list.payment-list
      span Тех. поддержка: 8(800)700-00-00
      br
      span © 2018 HELYFLY. All Rights Reserved.

