header.page-header
  .page-header__inner
    a.page-header__logo.logo(href="#")
      img(alt="Helifly-logo" src="../../img/icons/logo.svg")
    span.page-header__phone Телефон:
      a(href="tel:+78001231212") 8(800)-123-12-12
    button.page-header__city Москва
    button.page-header__user-icon
      img(alt="Person" src="../../img/icons/person.svg")
