section.about
  .about__inner
    h2.about__title.title Фотосессия в вертолете
    iframe.about__video(width="290" height="177" src="https://www.youtube.com/embed/P4AuXZoxXtw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    p.about__text Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты!
    ul.about__list.list
       -
         const list = [
           [
             '../../img/icons/clock.svg',
             '3 часа съемки'
           ],
           [
             '../../img/icons/talk.svg',
             'Русский'
           ],
           [
             '../../img/icons/money.svg',
             'от 850$'
           ],
           [
             '../../img/icons/location.svg',
             'Дубаи'
           ],
           [
             '../../img/icons/location.svg',
             'Москва'
           ],
           [
             '../../img/icons/camera.svg',
             'Более 50 фотографий'
           ],
           [
             '../../img/icons/talk.svg',
             'Готовы ответить на любые вопросы'
           ]
         ]

       each item, index in list
         li
           img(src=list[index][0])
           span= list[index][1]
    footer.about__footer
      span Более 150 отзывов с оценкой
      ul.stars
        li
          img(src="#")
