section.page-banner
  .page-banner__inner
    span.page-banner__slogan
      | Эксклюзивная #[span.page-banner__slogan_accent фотосессия]
      | при&nbsp;полете
      | на вертолете
    .cost-title
      span Стоимость: #[span.price.cost-title__price 1500₽]
      span.percent.cost-title__percent %
    button.banner__button.button Забронировать место
