section.page-banner
  .page-banner__inner
    span.slogan
      | Эксклюзивная
      span.slogan_accent фотосессия
      | при полете
      | на вертолете
    .cost-title
      span Стоимость
      span 1500₽
      span %
    button.banner__button.button Забронировать место
