//or article
section.feedback
  .feedback__inner
    h2.feedback__title
    ul.feedback__list
      li.feedback__item
        .feedback__author
          img.feedback__avatar
          h3.feedback__name
          span.feedback__subtitle
          ul.stars
            li
              img(src="#")
          span.rate
        p.feedback__message
        span.feedback__date
    button.show-more Читать еще
