section.map
  .map__inner
    .map__card
      ul
        li
          span Где встречаемся?
          br
          span Москва
        li
          span Время съемки
          br
          span 3 часа
        li
          span Мест осталось:
          br
          span 2 места
        li
          .avatar
            img(src="")
            span.avatar__name Марина Иванова
            span.avatar__subscribe Фотограф
            a.avatar__link.link(href="#") Показать больше информации о фотографе
