// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Colors
$main-color: #ffffff;
$link-color: #5286EC;
$accent-color: #FC9B09;
$text-color: #37373F;
$border-color: #C7C7C7;
$green-color: #6AAD4A;
$copyright: #B3B3B3;